# Python
__pycache__/
*.py[cod]

# Virtual env & secrets
venv/
.env

training_output/runs/

jobs/*
!jobs/.gitkeep


# Raw data (never share)
data/
datasets/

main/src/fer/dataset/sources/*
!main/src/fer/dataset/sources/.gitkeep

main/src/fer/dataset/standardized/images_mtcnn_cropped_norm/*
!main/src/fer/dataset/standardized/images_mtcnn_cropped_norm/.gitkeep


main/src/fer/dataset/standardized/images_raw/*
!main/src/fer/dataset/standardized/images_raw/.gitkeep

main/src/fer/dataset/standardized/ferplus/ferplus_raw/*
!main/src/fer/dataset/standardized/ferplus/ferplus_raw/.gitkeep

main/src/fer/dataset/standardized/ferplus/ferplus_mtcnn_cropped_norm/*
!main/src/fer/dataset/standardized/ferplus/ferplus_mtcnn_cropped_norm/.gitkeep

main/src/fer/dataset/standardized/fer2013/fer2013_mtcnn_cropped_norm/*
!main/src/fer/dataset/standardized/fer2013/fer2013_mtcnn_cropped_norm/.gitkeep

main/src/fer/dataset/standardized/fer2013/fer2013_mtcnn_cropped/*
!main/src/fer/dataset/standardized/fer2013/fer2013_mtcnn_cropped/.gitkeep

main/src/fer/dataset/standardized/fer2013/fer2013_raw/*
!main/src/fer/dataset/standardized/fer2013/fer2013_raw/.gitkeep

main/src/fer/dataset/standardized/images_mtcnn_cropped/png/*
!main/src/fer/dataset/standardized/images_mtcnn_cropped/png/.gitkeep

main/src/fer/dataset/standardized/mtcnn_cropped_int_norm/*
!main/src/fer/dataset/standardized/mtcnn_cropped_int_norm/.gitkeep

main/src/fer/dataset/standardized/images_mtcnn_cropped/npy/*
!main/src/fer/dataset/standardized/images_mtcnn_cropped/npy/.gitkeep
!main/src/fer/dataset/standardized/images_mtcnn_cropped/npy/.dataset_stats_train.json

main/src/fer/dataset/standardized/only_mtcnn_cropped/color_and_grey/*
!main/src/fer/dataset/standardized/only_mtcnn_cropped/color_and_grey/.gitkeep
!main/src/fer/dataset/standardized/only_mtcnn_cropped/color_and_grey/dataset_stats_train.json
main/src/fer/dataset/standardized/only_mtcnn_cropped/grey/*
!main/src/fer/dataset/standardized/only_mtcnn_cropped/grey/.gitkeep
!main/src/fer/dataset/standardized/only_mtcnn_cropped/grey/dataset_stats_train.json

main/scripts/_tmp_rafdb_gdrive_files

main/scripts/_tmp_fer2013_kaggle

testing/ckplus
testing/results_ckplus.csv

# Training artifacts (selective sharing)
checkpoints/        # raw checkpoints (ignored)
runs/
wandb/
logs/

# BUT allow best model inside outputs
!outputs/**/best.pth

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# local split manifests
main/src/fer/dataset/splits/*.json
main/src/fer/dataset/splits/*
!main/src/fer/dataset/splits/.gitkeep




results/
*.pt
*.ckpt
*.pth
main/src/fer/dataset/splits/images_raw_manifest.json


*.out
# generated output
out/linecounter.txt
out/linecounter.json


# demo
demo/kaggle_videos
demo/download_kaggle_videos.py
demo/kaggle_video_out/
demo/src/*

# classification model
classification_model/images/
classification_model/download_kaggle_photos.py
classification_model/classification_scores.csv
classification_model/images_pre_processed/

#XAI results
main/xai_results/
